GH_ACCESS_TOKEN = "<Your-Github-Access-Token>" # Personal access token (admin:org, repo, user)
CF_DEPLOY_HOOK_URL = "<Your-Cloudflare-Deploy-Hook>"

# Optional
NTFY_SERVER="<NTFY Server url>" # https://ntfy.sh"
NTFY_TOPIC="eleventy-explorer"
